<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.arenda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <service
            android:name=".ServerInteraction.InsertAnnouncement.ServiceInsertAnnouncement"
            android:icon="@drawable/ic_logo"
            tools:ignore="ExportedService,InnerclassSeparator" />

        <activity
            android:name=".EntrySystem.ActivityLoading"
            android:noHistory="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreviewSystem.ActivityPreview"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".EntrySystem.ActivityRegistration"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".EntrySystem.ActivityAuthorization"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainWorkspace.Activities.ActivityMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>